**Q1. Creating one variable containing following type of data:**

1.   string

1.   list
2.   float


2.   tuple

In [6]:
#variable for string
o = "om"

In [7]:
#checking data type for o
type(o)

str

In [8]:
#variable for list
a = [1,2,3,4,6,6, "apple", "manzana", 34.45, True, 4+5j]

In [9]:
#checking data type for a
type(a)

list

In [10]:
#variable for float
b = 56.75

In [11]:
#checking data type for b
type(b)

float

In [12]:
#variable for tuple
c = (1,2,3,4,5,5, "WATER", "SKILLS", 34.45, False, 7+4j)

In [13]:
#checking data type for c
type(c)

tuple

2. **finding the data type of the  given variable:**

1.   var1 = ' '

1.   var2 = '[ DS , ML , Python]'
2.   var3 = [ 'DS' , 'ML' , 'Python' ]


2.   var4 = 1

In [14]:
var1 = ' '

In [15]:
#checking data type for var1
type(var1)

str

In [16]:
var2 = '[ DS , ML , Python]'

In [17]:
#checking data type for var2
type(var2)

str

In [18]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [19]:
#checking data type for var3
type(var3)

list

In [20]:
var4 = 1

In [21]:
#checking data type for var4
type(var4)

int

**3. Explaining the use of the following operators using an example:**

1.  /

1.   %

1.   //
2.   **

In [22]:
""" The division operator (/) is used to divide one number by another.
It returns the quotient as a floating-point number.
Example for / (Division operator):"""
x = 10
y = 3
x/y

3.3333333333333335

In [23]:
""" The modulo operator (%) returns the remainder of a division.
Example for % (Modulo operator):"""
x = 10
y = 5
x%y

0

In [24]:
""" The floor division operator (//) divides one number by another and
returns the largest integer less than or equal to the result.
Example for // (Floor Division operator):"""
x = 10
y = 3
x//y

3

In [25]:
""" The exponentiation operator (**) raises the first number to the power
of the second number.
Example for ** (Exponentiation operator):"""
x = 7
y = 2
x**y

49

**4. Creating a list of length 10 , containing multiple types of data. Using for loop print the
element and its data type.**

In [26]:
#list of length 10
x = [1, "hello", 3.14, (1, 2), [3, 4], True, 7.35 , 4+7j,  100, "world"]
#using for loop to print the element and its data type
for i in x:
    print (i)
    print (type(i))

1
<class 'int'>
hello
<class 'str'>
3.14
<class 'float'>
(1, 2)
<class 'tuple'>
[3, 4]
<class 'list'>
True
<class 'bool'>
7.35
<class 'float'>
(4+7j)
<class 'complex'>
100
<class 'int'>
world
<class 'str'>

**5. Using a while loop, i will verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.**

In [27]:
A = 100
B = 2
count = 0 #count before division is zero
while A%B == 0: #checking if A is completely divisible by B
 A =  A//B #by using // we get quotient in intger
 count += 1 #count will increase with every division
 """ Below The f" before the string allows variable substitution inside {}.
{count} automatically gets replaced with its actual value when printed."""

 print(f"This will be executed once A is completely divisible by B {count} times")

This will be executed once A is completely divisible by B 1 times
This will be executed once A is completely divisible by B 2 times

**6. Creating a list containing 25 int type data and using for loop and if-else condition to print if the element is
divisible by 3 or not.**

In [28]:
#Creating a list of 25 integers
h = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
#using for loop and if-else condition to print
for j in h:
  print (j)
  if j%3 == 0:
    print(f"Element {j} is divisible by 3")
    #using f" we can find the exact jth element we are talking about
  else:
    print(f"Element {j} is not divisible by 3")

1
Element 1 is not divisible by 3
2
Element 2 is not divisible by 3
3
Element 3 is divisible by 3
4
Element 4 is not divisible by 3
5
Element 5 is not divisible by 3
6
Element 6 is divisible by 3
7
Element 7 is not divisible by 3
8
Element 8 is not divisible by 3
9
Element 9 is divisible by 3
10
Element 10 is not divisible by 3
11
Element 11 is not divisible by 3
12
Element 12 is divisible by 3
13
Element 13 is not divisible by 3
14
Element 14 is not divisible by 3
15
Element 15 is divisible by 3
16
Element 16 is not divisible by 3
17
Element 17 is not divisible by 3
18
Element 18 is divisible by 3
19
Element 19 is not divisible by 3
20
Element 20 is not divisible by 3
21
Element 21 is divisible by 3
22
Element 22 is not divisible by 3
23
Element 23 is not divisible by 3
24
Element 24 is divisible by 3
25
Element 25 is not divisible by 3

**7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.**

**MUTABLE DATA TYPE**

In [29]:
"""Data types that can be changed after
creation is callled MUTABLE DATA TYPE.
A list is saved in system by creating indexing ,
we can check different element and replace them with another
called assignment of elements"""
#example of mutable : list
x = [1, "hello", 3.14, (1, 2), [3, 4], True, 7.35 , 4+7j,  100, "world"]

In [30]:
#checking the element via indexing and replacing them :
x[2]

3.14

In [31]:
#now replacing it with "dog"
x[2] = "dog"

In [32]:
#now we check our new list :
x

[1, 'hello', 'dog', (1, 2), [3, 4], True, 7.35, (4+7j), 100, 'world']

**IMMUTABLE DATA TYPE**

In [33]:

"""Data types that can't be changed after
creation is callled IMMUTABLE DATA TYPE"""
#example of immutable : tuple
y = (1,2,3,4,5,5, "WATER", "SKILLS", 34.45, False, 7+4j)

In [34]:
#now checking the element via indexing
y[6]
""" on trying to replace element
 this will show an error because tuple is immutable."""

' on trying to replace element\n this will show an error because tuple is immutable.'